@media (max-width: 1450px) {
  .slider .slick-arrow {
    top: 100%;
  }
  .slider .slick-arrow.slick-prev {
    left: 30px;
  }
  .slider .slick-arrow.slick-next {
    right: 30px;
  }
}

@media (max-width: 1330px) {
  .header__inner {
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav {
    /* width: 70%; */
  }
  .header__nav .header__nav-list {
    margin-right: -15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__contacts {
    margin-left: auto;
    width: auto;
  }
  .bg_img .header__title-block,
  .content__city-block .content__city-list,
  .block-list__body,
  .order__content,
  .sevices__list,
  .routes__body,
  .questions__inner {
    padding: 0 20px;
  }
  .title {
    padding: 0 20px;
  }
}

@media (max-width: 1172px) {
  /* .header__nav {
        display: none;
    } */
  .header__menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 10;
  }
  body.touch .menu-arrow {
    border-top: 10px solid #012146;
  }
  .header__contacts {
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .bg_img .header__block {
    padding-top: 26px;
    padding-bottom: 71px;
  }
  .bg_img .header__sub {
    margin-top: 15px;
  }
  .bg_img .header__buttons {
    margin-top: 26px;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    background-color: white;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    z-index: 10;
    overflow: auto;
  }
  .header__nav .header__nav-list {
    padding: 100px 32px 30px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 6;
    width: 100%;
  }
  .header__nav .header__nav-list .header__nav-list-item {
    padding: 10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__nav .header__nav-list .header__nav-list-item .header__nav-list-item-link {
    color: #012146;
    padding-top: 0;
    margin: 0;
  }
  .header__nav .header__nav-list .header__nav-list-item .header__nav-list-item-link:after {
    background-color: #012146;
  }
  .header__nav.active {
    right: 0;
  }
  body.lock {
    overflow: hidden;
  }
  .header__sub-menu {
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 0;
    padding: 15px;
    left: 0;
    text-align: left;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: none;
    margin-top: 15px;
  }
  .header__sub-menu .header__sub-menu-item .header__sub-menu-item-link {
    color: #012146;
    padding-bottom: 0;
  }
  .header__sub-menu .header__sub-menu-item .header__sub-menu-item-link:after {
    background-color: #012146;
  }
  .order__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order__content-item {
    width: 40%;
  }
}
/*# sourceMappingURL=media.css.map */